@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{

    font-family: "DM Sans", sans-serif;
}

body{

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
}

div.container{

    display: grid;
    gap: 20px;
    grid-template-columns: 180px 200px 200px 195px;
    grid-template-rows: 210px 60px 120px 130px 40px ;
}

div.item1{

    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    padding-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 2 / 2 / 4;

}

div.item1 > h1{

    font-weight: 500;
    font-size: 3em;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    line-height: 0.9em;
}

div.item1 > h1 > span {

    color:hsl(39, 100%, 71%);
    
}

div.item1 > img{

    max-width: 40%;
    max-height: 50px;
    margin: 0;
    padding: 0;
}

div.item1 > p{

    color: hsl(31, 66%, 93%);
    font-size: 15px;
    margin: 0;
}

div.item2{

    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    grid-area: 2 / 2 / 4 / 3;
    overflow: hidden;
}

div.item2 > img{

    width: 154%;
    height: 100px;
    border-radius: 15px;
}

div.item2 > h2{

    font-weight: 500;
    letter-spacing: -2px;
    line-height: 0.9em;
    font-size: 1.5em;
    width: 92%;
}

div.item3{

    background-color: hsl(39, 100%, 71%);
    padding: 15px 20px;
    border-radius: 10px;
    grid-area: 2 / 3 / 4 / 4;
    overflow: hidden;
}

div.item3 > h2{

    font-weight: 500;
    letter-spacing: -2px;
    line-height: 0.9em;
    font-size: 1.8em;
    padding-bottom: 0;
    margin-bottom: 10px;
    padding-top: 0;
    margin-top: 0;
}

div.item3 > img{

    max-width: 100%;
}

div.item4{

    background-color: hsl(254, 88%, 90%);
    border-radius: 10px;
    padding: 25px 15px 20px 20px;
    grid-area: 1 / 4 / 4 / 5;
    overflow: hidden;
    text-align: left;
    
}

div.item4 > img{

    padding-top: 0;
    margin-top: 0;
    margin-left: 20px;
    max-width: 172%;
    height: 220px;
}

div.item4 > h2{

    font-weight: 500;
    letter-spacing: -2px;
    line-height: 0.9em;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top:10px;
}

div.item4 > p{

    font-size: 15px;
    line-height: 1em;
}

div.item5{

    border-radius: 10px;
    padding: 20px;
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    grid-area: 4 / 3 / 6 / 5;
}

div.item5 > img{

    max-width: 50%;
}

div.item5 > h2{

    font-weight: 500;
    line-height: 0.9em;
}

div.item6{

    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
    grid-area: 4 / 2 / 6 / 3;
}

div.item6 > h1{

    padding-top: 10px;
    margin-top: 0px;
    font-weight: 500;
    font-size: 2.5em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.item6 > p{

    padding-top: 5px;
    margin-top: 0;
    font-size: 15px;
    padding-bottom: 10px;

}

div.item6 > img{
    
    max-width: 90%;
 
}

div.item7{

    background-color: hsl(31, 66%, 93%);
    border-radius: 10px;
    padding: 20px;
    grid-area: 1 / 1 / 3 / 2;
}

div.item7 > h2{

    font-weight: 500;
    letter-spacing: -2px;
    line-height: 0.9em;
    font-size: 1.8em;
}

div.item7 > h2 > span{

    color:hsl(256, 67%, 59%);
}

div.item7 > img{

    max-width: 100%;
}

div.item8{

    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;
    padding: 0px 10px 20px 20px;
    grid-area: 3 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
}

div.item8 > h2{

    font-weight: 500;
    letter-spacing: -2px;
    line-height: 0.9em;
    font-size: 1.8em;
    width: 90%;
    margin-bottom: 40px;
}


div.item8 > img{

    align-items:center ;
    max-width: 200px;
    max-height: 250px;
    aspect-ratio: 0.9;
}